.container {
  text-align: center;
  margin-top: 50px;
}

.search-container {
  margin-bottom: 20px;
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: left;
}

/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
*/

input{
  width: 400px;
  height: 20px;
}

button{
  height: 30px;
  width: 80px;
  margin-left: 5px;
  background-color: green;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
}